@charset "UTF-8";

footer {
	display:block;
	width: 900px;
	min-height: 150px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

.footer-ad {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

footer p {
	text-align: center;
}

footer p.copy-notice {
	font-size: 10px;
}