@charset "UTF-8";

#expandedRules ol {
	visibility: collapse;
	display: none;
	list-style-type: lower-roman;
}

#expandedRules ol li ol {
	list-style-type: lower-latin;
	visibility:inherit;
	display:inherit;
}

#expandedRules img {
	height:15px;
	width:15px;
	cursor: pointer;
}